<section class="about-section">
  <div class="about-section__title">
    <h1>About</h1>
  </div>
  <div class="about-section__detail">
    <p>
      Axel <span>(HE/HIM)</span> ipsum dolor sit amet consectetur, adipisicing
      elit. Iste, rerum at fuga voluptatem nobis dolor, qui exercitationem
      maxime repudiandae ducimus odit beatae magnam architecto laboriosam
      doloribus omnis dolores sed nam excepturi culpa modi ut esse! At vero
      reiciendis, quidem temporibus placeat veritatis, nobis blanditiis
      laudantium nihil commodi facere dolor quae!
    </p>
    <span class="main-skill">Building Modern Design Website</span>
    <div class="current-position">
      <div class="current-position__company">
        <div class="company-image">
            <img
              src="assets/images/moovd-logo.jpeg"
              alt="MOOVD"
            />
        </div>
      </div>
      <div class="current-position__role">
        <span class="role">Full Stack Developer</span>
        <span>MOOVD</span>
      </div>
    </div>
  </div>
</section>
