$light: #F7FCFC;
$dark: #151515;
$transparent: transparent;

$colors: (
  'primary': (
    900: #004743,
    800: #006361,
    700: #007372,
    600: #008283,
    500: #008F90,
    400: #00A0A3,
    300: #34B0B5,
    200: #75C7CB,
    100: #ADDCE0,
    0: #F7FCFC,
  ),
  'secondary': (
    900: #2A3A48,
    800: #3C5060,
    700: #4B6376,
    600: #5B778D,
    500: #607E95,
    400: #95ACC0,
    300: #B2C4D4,
    200: #CDDCE8,
    100: #E9F1FB,
    50: #F1F5FA,
    0: #FFFFFF
  ),
  'neutral': (
    900: #2A3A48,
    800: #3C5060,
    700: #4B6376,
    600: #5B778D,
    500: #607E95,
    400: #95ACC0,
    300: #B2C4D4,
    200: #CDDCE8,
    100: #E9F1FB,
    50: #F1F5FA,
    0: #FFFFFF
  ),
  'error': (
    900: #bf1105,
    700: #da2b1e,
    400: #f65142,
    200: #f59994,
    100: #ffcccf,
    50: #ffebed,
  ),
  'warning': (
    900: #FA7413,
    800: #FCA52F,
    700: #FFBD35,
    400: #FFE959,
    200: #FFF39E,
    50: #FFFCE7,
  ),
  'success': (
    900: #006B24,
    800: #009C45,
    700: #10BE5B,
    400: #70D38E,
    200: #C3EBCE,
    50: #E6F7EB,
  ),
  'blue': (
    800: #759CCB,
    600: #88A8D6,
    400: #BACDE5,
    200: #DCE5F2,
    50: #F1F5FA,
  ),
  'magenta': (
    800: #BD7A9C,
    600: #CD9BB5,
    400: #E4C9D7,
    200: #EEDDE6,
    50: #FAF4F7,
  )
);

@function get-color($color, $shade: 400) {
  $config: map-get($colors, $color);
  @return map-get($config, $shade);
}