.base-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1rem);

  &.loaded {
    filter: none;
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  &.loaded {
    opacity: 1;
  }
}
