@use "themes" as t;
@use "includes" as i;

.scroll-watcher {
  height: 5px;
  position: fixed;
  top: 0;
  background-color: t.$light;
  z-index: 1000;  
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

.default-layout {
  width: 100%;
  height: fit-content;
  overflow-y: hidden;
}
