*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5; // based on WCAG
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  /* Remove default padding */
  padding: 0;
  /* Remove default border */
  border: none;
  /* Ensure the button text is not affected by inheritance */
  font-family: inherit;
  font-size: inherit;
  /* Reset other styles as needed */
  /* Example: */
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  /* Ensure consistent box-sizing */
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}