@use "themes" as t;

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--light-color);
}

:is(h1, .h1) {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
}

:is(h2, .h2) {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

:is(h3, .h3) {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-regular);
}

:is(h4, .h4) {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
}

:is(h5, h6, p, span, a){
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
}

a {
  text-decoration: none;
}

.italic {
  font-style: italic;
}