@use "themes" as t;
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: Merriweather, sans-serif;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: t.$light;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
}
