<div class="home-container">
  <section class="hero-section">
    <div class="hero-card">
      <progressive-image
        imageUrl="assets/images/others/hero-bg.png"
        imageUrlBase="assets/images/others/compressed/hero-bg.png"
      />
    </div>
    <div class="hero-content">
      <h1 class="hero-content__title">Minimalist is <span>Sexy!</span></h1>
      <div class="hero-content__subTitle">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi impedit
          dolor dicta possimus veniam aliquid, cum perspiciatis mollitia at
          earum quos nihil neque ab qui consequuntur ea eum modi hic dolore
          voluptas, perferendis sequi eos? Aliquid optio consequatur temporibus
          consequuntur eius enim, officia voluptatem quae. Hic libero doloribus
          blanditiis odio?
        </p>
      </div>
      <div class="hero-content__nav">
        <button class="button-explore"><a href="">Explore</a></button>
        <button class="button-about"><a href="">About Me?</a></button>
      </div>
    </div>
  </section>

  <section class="recap-section"></section>
</div>
