@use "themes" as t;
@use "includes" as i;

.home-container {
  @include i.flex-column(center, center);
}

.axel-section {
  width: 100%;
  height: 100vh;
  @include i.flex(center, center);

  .div1 {
    width: 20rem;
    height: 20rem;
    border: 1px solid var(--light-color);
    transition: width 0.69s linear, height 0.69s linear;

    &:hover {
      width: 50rem;
    }

    &:not(:hover) {
      width: 20rem;
      height: 20rem;
    }
  }
}

.hero-section {
  position: relative;
  margin: 3rem 0;
  @include i.flex-row(center, flex-end);
  width: 100%;
  height: fit-content;

  .hero-card {
    width: 60%;
    height: 400px;
    background-color: t.get-color("primary", 900);
    border-radius: 1rem;
    box-shadow: 0 0 3rem rgba(255, 255, 255, 0.3);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  @keyframes hero-movement {
    to {
      bottom: 120px;
    }
  }

  .hero-content {
    @include i.flex-column(flex-start, flex-start);
    gap: 1rem;

    bottom: 0;
    left: 40%;
    padding: 2rem 1rem 2rem 0;
    transform: translateX(-60%);
    position: absolute;
    width: fit-content;
    height: fit-content;
    transform-origin: left;
    animation: hero-movement linear forwards;
    animation-timeline: scroll();
    animation-range-end: 500px;

    &__title {
      pointer-events: none;

      padding: 0 1rem;
      background-color: t.$light;
      font-weight: lighter;
      font-size: t.font-size("4xl");
      color: t.$dark;

      span {
        font-weight: bold;
      }
    }

    &__subTitle {
      pointer-events: none;
      width: 95%;
      color: t.$light;
    }

    &__nav {
      @include i.flex-row();
      gap: 1rem;
      padding-top: 1rem;

      button {
        padding: 0.5rem 3rem;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
      }

      .button-explore {
        border: 1px solid t.$light;
      }

      .button-explore:hover {
        background-color: t.$light;

        a {
          color: t.$dark;
        }
      }

      .button-explore:active {
        background-color: t.get-color("error", 700);
        border: 1px solid t.get-color("error", 700);
        a {
          color: t.$dark;
        }
      }

      .button-about {
        background-color: t.$light;
        a {
          color: t.$dark;
        }
      }

      .button-about:hover {
        border: 1px solid t.$light;
        background-color: t.$dark;
        a {
          color: t.$light;
        }
      }

      .button-about:active {
        border: 1px solid t.get-color("error", 700);
        background-color: t.$dark;
        a {
          color: t.get-color("error", 700);
        }
      }
    }
  }
}

.recap-section {
  margin-top: 10rem;
  width: 100%;
  height: 20rem;

  @include i.flex(center, center);
}

.recap-section > div {
  padding: 1rem 3rem;
  border: 1px solid t.$light;
  width: fit-content;
  height: fit-content;
  scale: 0.7;
  opacity: 0;
  animation: fadeIn linear forwards;
  animation-timeline: view();
  animation-range-start: contain 0;
  animation-range-end: contain 50svh;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}

::selection {
  background: t.get-color("error", 700);
  color: t.$dark;
}

::-moz-selection {
  background: t.get-color("error", 700);
  color: t.$dark;
}
