@use "./styles/app";
@use "./styles/themes" as t;
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: Overpass, Roboto, sans-serif;
}

body {
  background-color: t.$surface_color_app;
  margin: 0;
}

html,
body {
  height: 100%;
}

app-root {
  display: block;
  height: 100%;
}

mat-bottom-sheet-container {
  padding: 0 !important;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

mat-card {
  background-color: t.$white;
}

.mat-button {
  background: transparent;
}

// mental state stuff
.mental-state-tracker mat-bottom-sheet-container {
  max-height: 90vh !important;
}

.highlighted_terrible {
  background-color: t.$terrible !important;
  border-radius: 40px !important;
  display: flex;
  align-content: center;
  justify-content: center;
}
.highlighted_sad {
  background-color: t.$sad !important;
  border-radius: 40px !important;
  display: flex;
  align-content: center;
  justify-content: center;
}
.highlighted_okay {
  background-color: t.$okay !important;
  border-radius: 40px !important;
  display: flex;
  align-content: center;
  justify-content: center;
}
.highlighted_fine {
  background-color: t.$fine !important;
  border-radius: 40px !important;
  display: flex;
  align-content: center;
  justify-content: center;
}
.highlighted_great {
  background-color: t.$great !important;
  border-radius: 40px !important;
  display: flex;
  align-content: center;
  justify-content: center;
}
